@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<hr>

	@Html.ActionLink("Establish a New Park", "Index", "Parks"); -- 
	@Html.ActionLink("View Parks", "Show", "Parks");


</div>
